table.mat-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e2e0e61a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.744);
}

/* Header Style */
th.mat-header-cell {
    background-color: #3f51b5;
    color: #fff;
    font-weight: bold;
    text-align: left;

}

/* Row Style */
td.mat-cell {
    color: #0f0e0e;

    border-bottom: 1px solid #ddd;
    text-align: left;
}

.popupAdd {
    cursor: pointer;
    background-color: #3f51b5;
    width: 80px;
    border-style: none;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.btnDelete {
    cursor: pointer;
    background-color: #fff;
    color: #FF0000;
    width: 80px;
    border-style: none;
    border-radius: 20px;
    padding: 5px;
}

.addButton {
    padding: 5px;
    background-color: blue;
    width: 100px;

}

.mat-mdc-dialog-surface mdc-dialog__surface {
    background-color: #FFF !important;
}

input {
    color: #000 !important;
}