<table class="mat-table" style="width: 100%;">
  <tr>
    <td colspan="4">
    </td>
    <td colspan="4">
      <mat-form-field appearance="fill">
        <mat-label class="mat-header-cell">Search</mat-label>
        <input class="mat-cell" matInput [formControl]="searchControl" placeholder="Search">
      </mat-form-field>
    </td>

  </tr>
</table>
<table class="mat-table" mat-table [dataSource]="dataSource">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Id </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> First Name </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastName">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Last Name </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Email </th>
    <td class="mat-cell" mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th class="mat-header-cell" mat-header-cell *matHeaderCellDef> Actions </th>
    <td class="mat-cell" mat-cell *matCellDef="let element">
      <button class="popupAdd" mat-icon-button color="primary" (click)="editItem(element)">
        Edit
      </button>
      <button class="btnDelete" color="warn" (click)="deleteItem(element)">
        Delete
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>