mat-toolbar {
    margin-bottom: 16px;
    padding-left: 100px;
    padding-right: 100px;
}

mat-toolbar span {
    margin: 0 auto;
}

.example-button-row {

    display: table-cell;

    max-width: 600px;
}